.swm{
    background: #ffffffd2;
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    overflow: hidden;
}
.swm .modal-container{
    background:#282828;
    color: #ededed;
    width: 80%;
    min-width:200px;
    max-width: 800px;
    padding: 30px 5px;
}
.modal-container ol{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    min-width: auto;
    margin: 0 auto;
    padding: 0;
    list-style-position: inside;
    
}
.modal-container ol li {
    width: 40%;
    margin: 5px;
    padding: 5px;
    overflow: scroll;

}
.modal-container p{
    text-align: center;
    width: 85%;
    margin: 20px auto;
}
