@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@700&display=swap');
/* font-family: 'Tilt Neon', cursive;                   poppins
font-family: 'Sofia Sans Semi Condensed', sans-serif;   play
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
